In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s4e12/sample_submission.csv
/kaggle/input/playground-series-s4e12/train.csv
/kaggle/input/playground-series-s4e12/test.csv

In [2]:
input_data = pd.read_csv('/kaggle/input/playground-series-s4e12/train.csv')

In [3]:
input_data.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [4]:
input_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual Income         1155051 non-null  float64
 4   Marital Status        1181471 non-null  object
 5   Number of Dependents  1090328 non-null  float64
 6   Education Level       1200000 non-null  object
 7   Occupation            841925 non-null   object
 8   Health Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy Type           1200000 non-null  object
 11  Previous Claims       835971 non-null   float64
 12  Vehicle Age           1199994 non-null  float64
 13  Credit Score          1062118 non-null  float64
 14  Insurance Duration    1199999 non-null  float64
 15  Policy Start Date     1200000 non-null  object
 16  Customer Feedback     1122176 non-null  object
 17  Smoking Status        1200000 non-null  object
 18  Exercise Frequency    1200000 non-null  object
 19  Property Type         1200000 non-null  object
 20  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 192.3+ MB

In [5]:
input_data.set_index(keys = "id", inplace = True)
input_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1181295 non-null  float64
 1   Gender                1200000 non-null  object
 2   Annual Income         1155051 non-null  float64
 3   Marital Status        1181471 non-null  object
 4   Number of Dependents  1090328 non-null  float64
 5   Education Level       1200000 non-null  object
 6   Occupation            841925 non-null   object
 7   Health Score          1125924 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       835971 non-null   float64
 11  Vehicle Age           1199994 non-null  float64
 12  Credit Score          1062118 non-null  float64
 13  Insurance Duration    1199999 non-null  float64
 14  Policy Start Date     1200000 non-null  object
 15  Customer Feedback     1122176 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(9), object(11)
memory usage: 192.3+ MB

In [6]:
input_data.dropna(subset = ['Marital Status'], axis = 0, inplace = True)
input_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1181471 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1163064 non-null  float64
 1   Gender                1181471 non-null  object
 2   Annual Income         1137478 non-null  float64
 3   Marital Status        1181471 non-null  object
 4   Number of Dependents  1073671 non-null  float64
 5   Education Level       1181471 non-null  object
 6   Occupation            828899 non-null   object
 7   Health Score          1108301 non-null  float64
 8   Location              1181471 non-null  object
 9   Policy Type           1181471 non-null  object
 10  Previous Claims       822749 non-null   float64
 11  Vehicle Age           1181465 non-null  float64
 12  Credit Score          1045865 non-null  float64
 13  Insurance Duration    1181470 non-null  float64
 14  Policy Start Date     1181471 non-null  object
 15  Customer Feedback     1105117 non-null  object
 16  Smoking Status        1181471 non-null  object
 17  Exercise Frequency    1181471 non-null  object
 18  Property Type         1181471 non-null  object
 19  Premium Amount        1181471 non-null  float64
dtypes: float64(9), object(11)
memory usage: 189.3+ MB

In [7]:
# To do basic checking of columns
input_data["Occupation"].value_counts(dropna = False)
input_data["Health Score"].value_counts(dropna = False)

Health Score
NaN          73170
19.927241      127
25.907650      124
19.869701      117
22.955402      104
             ...
13.181471        1
6.837778         1
40.634242        1
46.352447        1
11.483482        1
Name: count, Length: 525094, dtype: int64

In [8]:
from sklearn.impute import SimpleImputer
imputer_mean = SimpleImputer(strategy = "mean")
imputer_most_frequent = SimpleImputer(strategy = "most_frequent")
imputer_na_occupation = SimpleImputer(strategy = "constant", fill_value = "NA")

In [9]:
input_data["cat_col_concat"] = input_data["Gender"] + '_' + input_data["Marital Status"] + '_' + input_data["Education Level"] + '_' + input_data["Occupation"] + '_' + input_data["Location"] + '_' + input_data["Policy Type"] + '_' + input_data["Customer Feedback"] + '_' + input_data["Smoking Status"] + '_' + input_data["Exercise Frequency"] + '_' + input_data["Property Type"]

In [10]:
# from sklearn.model_selection import train_test_split

# train_data, test_data = train_test_split(input_data, test_size = 0.3, stratify = input_data["cat_col_concat"])

# train_data.info()